<div class="row m-5">
    <div class="col-4"></div>
    <div class="col-4 border p-3 text-center">
        <h3 class="text-center">My Bank <h6>{{aim}}</h6></h3>
        <!-- <input id="username" placeholder=" user name" type="text" class="form-control mb-2"> -->
        <input (change)="acnoChange($event)" id="Accountno" [placeholder]="account" type="text" class="form-control mb-2">

        <input (change)="pswdChange($event)" id="pwd" placeholder="password" type="password" class="form-control mb-2">
        <div id="result"></div>
        <button (click)="login()" class="btn btn-primary mt-3 mb-3 ">login</button>
        <a href="index.html">register</a>
    </div>
   <br> <div class="col-4"></div>
</div>
<app-register></app-register>
