<div class="row m-5">
    <div class="col-4"></div>
    <div class="col-4 border p-3 text-center">
        <h3 class="text-center">register page</h3>
        <input id="username" placeholder=" user name" type="text" class="form-control mb-2">
        <input id="Accountno" placeholder=" Account number" type="password" class="form-control mb-2">

        <input id="pwd" placeholder="password" type="password" class="form-control mb-2">
        <div id="result"></div>
        <button onclick="register()" class="btn btn-primary mt-3 mb-3 ">register</button>
        <a href="signup.html">login</a>
    </div>
   <br> <div class="col-4"></div>
</div>
